<div class="user-item">
  <div class="user-picture">
    <img [src]="user.picture" alt="user picture">
  </div>
  <div class="user-block"> 
      <span>Id: {{user.id}} </span>
      <span class="uppercase">Name : {{user.firstName}} {{user.lastName}}</span>
      <span>Age: {{user.age}} </span>
      <span>Email: {{user.email}}</span>
  </div>

  <div class="user-block">
      <span>IsActive: {{user.isActive}} </span>
      <span>Latitude: {{user.latitude}}</span>
      <span>Longitude {{user.longitude}}</span>
  </div>
</div>
