ul {
    list-style: none;
    padding-left: 0;
    margin-right: 15px;
}

li {
    padding: 15px;
    border: 1px solid #e3e3e3;
    position: relative;
}

li:hover {
    background-color: #e5e5e5;
}

.remove-item {
    cursor: pointer;        
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 25px;
}

